* {
  padding: 0;
  margin: 0;
}
body {
   background-color: black;
}

.container {
  background-color: black;
  margin-top: 2rem;
}

.grid {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
}

.square{
  width: 20px;
  height: 20px;
}

.invader-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.invaders {
  width: 20px;
  height: 20px;
  background-image: url('../public/kisspng-space-invaders-video-game-pac-man-computer-icons-space-invaders-5ac4f29bd6a425.8644933515228566038792.png');
  background-size: contain;
}

.shooter {
  background-image: url('../public/PngItem_5011901.png');
  background-size: contain;
}
