* {
  padding: 0;
  margin: 0;
}
body {
   background-color: black;
}

.container {
  background-color: white;
}

.grid {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
}

.grid div{
  width: 20px;
  height: 20px;
  background-color: black;
}

.invader {
  width: 20px;
  height: 20px;
  color: purple;
  background-color: purple;
  border-radius: 10px;
}

.shooter {
  background-color: red;
}